body {
  color: blue;
}


h1 {
  color: yellow;
}
table{
    border: 1px solid black;
    border-collapse: collapse ;
    color: white;
    table-layout: fixed;
    font-family: "Roboto Light", sans-serif;
}
th,td{
    border: 1px solid black;
}
tfoot, td{
    text-align: center;
}
thead, tfoot{
    background-color: #27426d;
}
tbody tr:nth-child(even){
    background-color: #6facff;
}
tbody tr:nth-child(odd){
    background-color: #4f8cef;
}
